.card img {
  width: 250px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid white;
  align-items: center;
}

.store-cadre {
  background-color: #12130f92;
  width: 90%;
  border-radius: 10px;
  min-width: 384px;
}

@media screen and (max-width: 768px) {
  .store-cadre {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
