.card img {
  width: 250px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.store-cadre {
  background-color: #12130f92;
  width: 90%;
  border-radius: 10px;
  min-width: 384px;
  max-width: 1200px;
  margin: 10px 0;
  padding: 0 10px;
}

.store-cadre h2 {
  padding: 1rem 0.5rem;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}
