@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background-image: radial-gradient(#57bf6d 0%, #12130f 80%);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

main > p {
  margin: 1rem 0;
  font-size: 1.5rem;
  text-align: center;
}

.main-cadre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #12130f92;
  width: 90%;
  border-radius: 10px;
  min-width: 384px;
}

.main-left {
  order: 1;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  min-width: 346px;
}

.main-left a {
  text-decoration: none;
  color: white;
}

.main-left h2 {
  font-weight: bold;
  font-size: 2rem;
}

.main-left h3 {
  font-weight: bold;
  font-size: 2rem;
}

.prix {
  color: #227c9d;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.main-right {
  order: 2;
  width: 50%;
  max-width: 540px;
}

.main-right img {
  width: 100%;
  max-width: 540px;
  min-width: 345px;
}

footer {
  color: #eae6e5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-transform: uppercase;
}

.footerLeft {
  display: flex;
  flex-direction: column;
  font-size: 60%;
  text-align: center;
}

.footerRight {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 60%;
}

.urlSite {
  font-size: 180%;
}

.copyright {
  text-transform: uppercase;
}

header {
  /* max-width: 1200px;
	  width: 100%;
    margin: 0 auto; */
  display: flex;
}

.navPart {
  flex-basis: 90%;
}

/* Barre de navigation */

nav {
  width: 100%;
  padding: 15px;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar .navItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 50%;
  gap: 3%;
}

.navbar .navItems .active,
.navbar .navItems a:hover,
.menuBurger .active {
  color: #57bf6d;
}

.navbar .navItems img {
  width: 60%;
}

.navbar .navItems img:hover {
  filter: invert(66%) sepia(59%) saturate(422%) hue-rotate(81deg)
    brightness(91%) contrast(78%);
}

.navbar .logo a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar .logo img {
  width: 50%;
  min-width: 50px;
}

/* Barre des réseaux sociaux */

.socialNetworks {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 10%;
  padding-top: 20px;
}

.socialNetworks a {
  background-color: #fff;
  color: #000;
  margin: 5% 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
}

.socialNetworks a:hover {
  background-color: #57bf6d;
}

.socialNetworks i {
  font-size: 1.5rem;
}

/* Menu Burger */

.menuBurger {
  display: none;
}

.menuBurger .hiddenMenu {
  position: absolute;
  top: 75px;
  left: 0;
  height: 0;
  width: 40%;
  background: rgba(1, 33, 48, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  backdrop-filter: blur(5px);
}

.menuBurger .hiddenMenu.open {
  height: auto;
  min-width: 200px;
}

.menuBurger .hiddenNavItems {
  padding: 20px 10%;
}

.menuBurger .hiddenSocialNetworks {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #fff;
  padding: 20px 10%;
}

/* Header Titre */

.headerTitle {
  /* max-width: 1200px;
    /* margin: 0 auto 2%; */
  padding: 0 15px;
}

.headerTitle h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
}

.headerTitle h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .navPart {
    flex-basis: 100%;
  }

  /* Barre de navigation */

  nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: start;
  }

  .navbar .navItems {
    display: none;
  }

  /* Menu Burger */

  .menuBurger {
    display: block;
  }

  .menuBurger i {
    font-size: 2rem;
  }

  /* Barre des réseaux sociaux */

  .socialNetworks {
    display: none;
  }

  .main-cadre {
    justify-content: center;
    min-width: 400;
  }

  .main-left {
    order: 2;
  }

  .main-right {
    order: 1;
    text-align: center;
  }

  .footerLeft {
    margin-bottom: 5px;
  }
}
